@font-face {
  font-family: 'Nothing You Could Do';
  src: url('font/NothingYouCouldDo.woff2') format('woff2'),
    url('font/NothingYouCouldDo.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Rock Salt';
  src: url('font/RockSalt.woff2') format('woff2'),
    url('font/RockSalt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar-thumb{
background: #ccc;
height:auto;
}

::-webkit-scrollbar {
height:auto;
width:4px;
background:white;
border-left:0px solid transparent;
border-right:0px solid transparent;
}

a {
  text-decoration: none;
}

body {
  background-image: url('img/paper.jpg');
  background-size: cover;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: black;
  overflow: scroll;
}

h1 {
  font-family: 'Rock Salt', sans-serif;
  font-size: 30px;
  /* text-align: center; */
  font-weight: normal;
}

#blurb {
  position: sticky;
  width: 75%;
  margin-left: auto;
  margin-right: 5%;
  padding: 5px;
  text-align: right;
}

#blurb2 {
  position: sticky;
  width: 90%;
  margin-top: 3%;
  margin-right: auto;
  margin-left: 5%;
  padding: 5px;
  text-align: left;
}

#wrap {
    overflow:auto;
}

#wrap img {
    float:left;
    max-width: 400px;
    margin-right:50px;
    padding:3px;
}

#related {
  /* position: relative!important; */
  display: inline-block;
  transition: all .2s ease-in-out;
}

#related img {
  width: 100px;
  height: auto;
  transition: all .2s ease-in-out;
}

#related img:hover {
  width: 150px;
  height: auto;
  transition: all .2s ease-in-out;
}

#container {
  /* text-align: center; */
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.orb {
  position: absolute;
  margin: 3px;
  text-align: center;
  width: 100px;
  height: 100px;
  transition: all .2s ease-in-out;
}

.orb img {
  width: 100%;
}

.orb:hover {
  width: 150px;
  height: 150px;
  transition: all .2s ease-in-out;
}

#figf {
  margin-top: 200px;
}

#cont2 {
  margin-top: 75px;
  margin-left: 250px;
}

#hand {
  margin-top: 350px;
  margin-left: 350px;
}

#cont1 {
  margin-left: 550px;
  margin-top: 250px;
}

#compete {
  margin-left: 1000px;
  margin-top: 50px;
}

#shark {
  margin-top: 400px;
  margin-left: 100px;
}

#soenew {
  margin-top: 100px;
  margin-left: 750px;
}

#soeold {
  margin-top: 350px;
  margin-left: 950px;
}

#usc {
  margin-left: 500px;
}

.vl {
  border-left: 1px solid black;
  position: absolute;
  transition: all .2s ease-in-out;
}

.vl:hover {
  border-left: 1px solid #3399ff;
  transition: all .2s ease-in-out;
}

#figm-cont2 {
  height: 200px;
  margin-left: 200px;
  transform: rotate(-70deg);
}

#figm-figf {
  margin-top: 50px;
  margin-left: 50px;
  height: 200px;
  /* transform: rotate(5deg); */
}

#figf-cont2 {
  margin-top: 100px;
  margin-left: 160px;
  height: 250px;
  transform: rotate(60deg);
}

#figf-shark {
  margin-top: 260px;
  margin-left: 100px;
  height: 200px;
  transform: rotate(-25deg);
}

#shark-hand {
  margin-top: 340px;
  margin-left: 260px;
  height: 200px;
  transform: rotate(75deg);
}

#cont1-cont2 {
  margin-top: 70px;
  margin-left: 450px;
  height: 310px;
  transform: rotate(-60deg);
}

#cont1-usc {
  margin-top: 90px;
  margin-left: 580px;
  height: 250px;
  transform: rotate(-10deg);
}

#cont2-usc {
  margin-top: -25px;
  margin-left: 400px;
  height: 230px;
  transform: rotate(70deg);
}

#usc-soenew {
  margin-top: -20px;
  margin-left: 660px;
  height: 250px;
  transform: rotate(-60deg);
}

#soenew-compete {
  margin-top: 5px;
  margin-left: 950px;
  height: 250px;
  transform: rotate(70deg);
}

#soenew-soeold {
  margin-top: 170px;
  margin-left: 880px;
  height: 250px;
  transform: rotate(-35deg);
}

#compete-soeold {
  margin-top: 150px;
  margin-left: 1025px;
  height: 250px;
  transform: rotate(5deg);
}

#pup {
  position: absolute;
  z-index: 200;
  padding: 7px;
  margin-left: 10px;
  margin-top: 5px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(25, 25, 25, 0.95);
  color: white;
  font-size: 0.9em;
  font-family: 'Arial', sans-serif;
  text-align: left;
}
}
