body {
  font-family: Arial, sans-serif;
}

#container {
  position: fixed;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-image: url('./Assets/paper.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding:5px 10px;
}

#aboutButton {
  text-align: center;
  font-size:13px;
  display: block;
  width: 100px;
  height: auto;
  padding: 3px;
  margin: 5px 20px;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  transition: 0.3s;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#aboutButton:hover {
  letter-spacing: 6px;
  cursor: pointer;
  background: black;
  color: white;
  border: 1px solid white;

}

.bubble {
  display: inline-grid;
  position: relative;
  width: 125px;
  height: auto;
  margin: 3px;
  padding: 10px;
  text-align: center;
  /* top: 30px;
  left: 30px; */
  transition: all .2s ease-in-out;
}

.bubble img {
  width: 100%;
  border-radius: 150px;
}

.bubble:hover {
  width: 200px;
  /* top: 25px;
  left: 25px; */
  transition: all .2s ease-in-out;
  cursor: pointer;
}

/* Popup boxes */
/*--Transparent background layer--*/
#overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  top: 0vh;
  left: 0vw;
}

/* Popup box styling */
.info {
  display: none;
  position: fixed;
  z-index: 100;
  color: black;
  top: 10vh;
  left: 25vw;
  width: 50vw;
  height: 75vh;
  background: white;
  border: 1px solid black;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.info img {
  display: inline;
  float: left;
  max-width: 50%;
  word-wrap: normal;
  padding: 10px;
}
