body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  background-image: url('./Assets/paper1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 35px;
  font-family: 'Covered By Your Grace', cursive;
}

h2 {
  font-size: 25px;
  font-family: 'Covered By Your Grace', cursive;
}

hr {
  text-align: center;
  border: 0.5px solid #bbb;
  width:300px;
  margin:25px auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #d43b3b;
  transition: 0.3s;
}

a:hover {
  color: #3470d9;
  letter-spacing: 1.5px;
  transition: 0.3s;
}

#container {
  position: fixed;
  top: 0vh;
  left: 0vw;
  width: 99vw;
  height: 99vh;
  overflow: scroll;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding:5px 10px;
  background:rgba(255,255,255,0.5)
}

#topButtons {
  display:inline-block;
  width:100%;
  height:auto;
  z-index: 1;
}

.topButton {
  position: sticky;
  text-align: center;
  font-size:11px;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 3px 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  transition: 0.3s;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
}

.topButton:hover {
  letter-spacing: 3px;
  cursor: pointer;
  background: black;
  color: white;
  border: 1px solid white;
}

.buttonOn {
  background: black!important;
  color: white;
  border: 1px solid white!important;
}

.bubble {
  display: inline-grid;
  position: absolute;
  width: 10%; /* In case this breaks tomorrow: used to be 150px */
  height: auto;
  margin: 3px;
  padding: 10px;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all .2s ease-in-out;
}

.bubble img {
  width: 100%;
  border-radius: 150px;
}

.bubble:hover {
  width: 18%; /* In case this breaks tomorrow: used to be 250px */
  transition: all .2s ease-in-out;
  cursor: pointer;
  transform: translateX(-10%) translateY(-10%); /* In case this breaks tomorrow: used to be -25px */
}

/* Intro splash */
#intro {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  top: 0vh;
  left: 0vw;
  z-index: 999;
}

#introText {
  position:absolute;
  padding:5px;
  display:block;
  top:10vh;
  left:25vw;
  width:50vw;
  height:auto;
  text-align: center;
}

#startButton {
  text-align: center;
  font-size:13px;
  display: block;
  width: 100px;
  height: auto;
  padding: 3px;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  transition: 0.3s;
  letter-spacing: 3px;
  text-transform: uppercase;
  z-index: 1;
}

#startButton:hover {
  letter-spacing: 6px;
  cursor: pointer;
  background: black;
  color: white;
  border: 1px solid white;
}

/* Popup boxes */

/*--Transparent background layer--*/
#overlay, #fullScreen {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  top: 0vh;
  left: 0vw;
}

#fullScreen {
  z-index:200;
}

/* Popup box styling */
.info {
  display: none;
  position: fixed;
  z-index: 100;
  color: black;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50vw;
  height: 75vh;
  background: white;
  border: 1px solid black;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.info h1 {
  text-align:center;
  line-height:80%;
}

.infopics {
  width:100%;
  height:auto;
  text-align: center;
  display: inline-block;
  margin:auto auto;
}

.infopics img {
  margin:auto auto;
  display: inline;
  width:40%;
  aspect-ratio : 1 / 1;
  object-fit: cover;
  word-wrap: normal;
  padding: 10px;
}

.infopics img:hover {
  cursor:pointer;
}

.infopics .main {
  width:80%;
  aspect-ratio:auto;
  height:auto;
}

.details {
  text-align: center;
}

.altText {
  text-align:center;
  display:none;
  transition: 0.2s ease-in-out;
  font-style:italic;
}

.on {
  display:block;
  transition: 0.2s ease-in-out;
}

.fullImg {
  height:90%;
  width:auto;
  text-align:center;
}

img.fullImg {
  left:50%;
  transform:translateX(-50%);
  display:none;
  max-width:100%;
  z-index: 999;
  position:absolute;
}

/* Individual bubble placements */
#bStyles {
  top:5vh;
  left:0vw;
}

#bXennia {
  top:60vh;
  left:5vw;
}

#bCammie {
  top:25vh;
  left:15vw;
}

#bContain {
  top:65vh;
  left:30vw;
}

#bEdwin {
  top:50vh;
  left:50vw;
}

#bFigapp {
  top:15vh;
  left:55vw;
}

#bFigpers {
  top:85vh;
  left:60vw;
}

#bKaworu {
  top:70vh;
  left:85vw;
}

#bKazuya {
  top:10vh;
  left:80vw;
}

#bKeydes {
  top:10vh;
  left:35vw;
}

#bKeywip {
  top:100vh;
  left:15vw;
}

#bNewOC {
  top:40vh;
  left:70vw;
}

#bPhoto {
  top:115vh;
  left:40vw;
}

#bSoe {
  top:125vh;
  left:75vw;
}

#bUsc {
  top:135vh;
  left:3vw;
}
