body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 35px;
  font-family: 'Covered By Your Grace', cursive;
}

#container {
  position: fixed;
  top: 0vh;
  left: 0vw;
  width: 99vw;
  height: 99vh;
  overflow: scroll;
  background-image: url('./Assets/paper.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding:5px 10px;
}

#aboutButton {
  text-align: center;
  font-size:13px;
  display: block;
  width: 100px;
  height: auto;
  padding: 3px;
  margin: 5px 20px;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  transition: 0.3s;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#aboutButton:hover {
  letter-spacing: 6px;
  cursor: pointer;
  background: black;
  color: white;
  border: 1px solid white;
}

.bubble {
  display: inline-grid;
  position: absolute;
  width: 125px;
  height: auto;
  margin: 3px;
  padding: 10px;
  text-align: center;
  /* top: 30px;
  left: 30px; */
  transition: all .2s ease-in-out;
}

.bubble img {
  width: 100%;
  border-radius: 150px;
}

.bubble:hover {
  width: 200px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

/* Popup boxes */
/*--Transparent background layer--*/
#overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  top: 0vh;
  left: 0vw;
}

/* Popup box styling */
.info {
  display: none;
  position: fixed;
  z-index: 100;
  color: black;
  top: 10vh;
  left: 25vw;
  width: 50vw;
  height: 75vh;
  background: white;
  border: 1px solid black;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.infopics {
  width:100%;
  height:auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infopics img {
  display: inline;
  max-width: 40%;
  word-wrap: normal;
  padding: 10px;
}

/* Individual bubble placements */
#bAki {
  top:50vh;
  left:10vw;
}

#bCammie {
  top:20vh;
  left:15vw;
}

#bContain {
  top:60vh;
  left:30vw;
}

#bEdwin {
  top:50vh;
  left:50vw;
}

#bFigapp {
  top:15vh;
  left:55vw;
}

#bFigpers {
  top:80vh;
  left:60vw;
}

#bKaworu {
  top:70vh;
  left:85vw;
}

#bKazuya {
  top:10vh;
  left:80vw;
}

#bKeydes {
  top:10vh;
  left:35vw;
}

#bKeywip {
  top:90vh;
  left:5vw;
}

#bLucas {
  top:40vh;
  left:70vw;
}

#bPhoto {
  top:100vh;
  left:35vw;
}

#bSoe {
  top:100vh;
  left:100vw;
}

#bUsc {
  top:30vh;
  left:95vw;
}
